.parent {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
}

.menu {
  border-right: 2px solid gray;
}

.contentCenter {
  align-self: left;
}

.bold {
  font-weight: bold;
}

.inner {
  margin-top: 30px;
}
